{{!-- Common HTML head element declarations. --}}
<head>
  <meta charset="utf-8">
  <meta name="_csrf" content="{{csrf.token}}"/>
  <meta name="_csrf_header" content="{{csrf.headerName}}"/>

  <title>{{title}}</title>
  <link rel="stylesheet" href="{{ctx}}/css/reset.css" media="all" />
  <link rel="stylesheet" href="{{ctx}}/css/style.css" media="all" />
  <link rel="stylesheet" href="{{ctx}}/css/jquery.ui.css" media="all" />
  {{#if adminPage}}
    <link rel="stylesheet" href="{{ctx}}/js/chosen/chosen.css" media="all"/>
    <link rel="stylesheet" href="{{ctx}}/js/jwysiwyg/jquery.wysiwyg.css"/>
  {{else if systemPage}}
    <link rel="stylesheet" href="{{ctx}}/js/chosen/chosen.css" media="all"/>
  {{/if}}
  <script src="{{ctx}}/js/jquery-1.7.1.min.js"></script>
  <script src="{{ctx}}/js/jquery.tablesorter.min.js"></script>
  <script src="{{ctx}}/js/jquery.tablesorter.widgets.js"></script>
  <script src="{{ctx}}/js/jquery.ui.core.js"></script>
  <script src="{{ctx}}/js/jquery.ui.widget.js"></script>
  <script src="{{ctx}}/js/jquery.ui.datepicker.js"></script>
  {{#if adminPage}}
    <script src="{{ctx}}/js/jquery.tinyscrollbar.min.js"></script>
    <script src="{{ctx}}/js/jquery.validate.min.js"></script>
    <script src="{{ctx}}/js/chosen/chosen.jquery.min.js"></script>
    <script src="{{ctx}}/js/jquery.mask.min.js"></script>
    <script src="{{ctx}}/js/jwysiwyg/jquery.wysiwyg.js"></script>
    <script src="{{ctx}}/js/jwysiwyg/jquery.wysiwyg.js"></script>
    <script src="{{ctx}}/js/jwysiwyg/controls/wysiwyg.image.js"></script>
    <script src="{{ctx}}/js/jwysiwyg/controls/wysiwyg.link.js" ></script>
    <script src="{{ctx}}/js/jwysiwyg/controls/wysiwyg.table.js" ></script>
  {{else if systemPage}}
    <script src="{{ctx}}/js/chosen/chosen.jquery.min.js"></script>
    <script src="{{ctx}}/js/jquery.mask.min.js"></script>
  {{else}}
    <script src="{{ctx}}/js/jquery.mask.min.js"></script>
    <script src="{{ctx}}/js/jquery.compare.js"></script>
  {{/if}}

  <script>
    var ctx = "{{ctx}}";
    {{#if systemPage}}
      var roles = "{{role}}";
      var searchedResult = "{{searchedResult}}";
      var searchFirstName = "{{searchFirstName}}";
    {{/if}}
  </script>

  <script src="{{ctx}}/js/common.js"></script>

  {{#if adminPage}}
    <script src="{{ctx}}/js/admin/script.js"></script>
  {{else if systemPage}}
    <script src="{{ctx}}/js/system/script.js"></script>
  {{else}}
    <script src="{{ctx}}/js/script.js"></script>
  {{/if}}
</head>
