<div class="nav">
  <div class="navR">
    <div class="navM">
      <ul>
        {{#if systemPage}}
          <li class="active">
            <a href="{{ctx}}/system/user/list">USER ACCOUNTS</a>
            {{#if hasArrow}}<span class="arrow"></span>{{/if}}
          </li>
        {{else}}
          <li class="{{#if activeTab1 }} active {{/if}}">
            <a href="{{ctx}}/landing">DASHBOARD</a>
            {{#if activeTab1 }} <span class="arrow"></span> {{/if}}
          </li>

          <li class="{{#if activeTab2 }} active {{/if}}">
            <a class="enrollmentsLink" href="{{ctx}}/provider/dashboard/drafts">ENROLLMENTS</a>
            {{#if activeTab2 }} <span class="arrow"></span> {{/if}}
          </li>

          {{#if isServiceAdministrator}}
          <li class="{{#if activeTabScreenings }} active {{/if}}">
            <a class="screeningsLink" href="{{ctx}}/agent/screenings">SCREENINGS</a>
            {{#if activeTabScreenings }} <span class="arrow"></span> {{/if}}
          </li>

          <li class="{{#if activeTab5 }} active {{/if}}">
            <a class="reportsLink" href="{{ctx}}/admin/reports">REPORTS</a>
            {{#if activeTab5 }} <span class="arrow"></span> {{/if}}
          </li>

          <li class="{{#if activeTab4 }} active {{/if}}">
            <a class="functionsLink" href="{{ctx}}/admin/viewProviderTypes">FUNCTIONS</a>
            {{#if activeTab4 }} <span class="arrow"></span> {{/if}}
          </li>
          {{/if}}

          <li class="last {{#if activeTab3 }} active {{/if}}">
            <a href="{{ctx}}/myprofile" id="my_profile_tab">MY PROFILE</a>
            {{#if activeTab3 }} <span class="arrow"></span> {{/if}}
          </li>
        {{/if}}
      </ul>

      {{#if systemPage}}
        <div class="searchWidget">
          <a class="advancedSearchLink" href="{{ctx}}/system/advanced-search-system-admin">Advanced Search</a>
          <form id="searchBoxForm" class="inputContainer" action="{{ctx}}/system/user/search?role=Provider"  method="post">
            <input type="hidden" name="{{csrf.parameterName}}" value="{{csrf.token}}"/>
            <button class="search searchBox" title="Search" aria-label="Search" type="submit"></button>
            <input type="text" placeholder="Search Keyword" name="firstName" id="searchBoxFirstName" />
            <input type="hidden" name="lastName" id="searchBoxLastName" />
            <input type="hidden" name="and" value="false" />
            <input type="hidden" name="searchBox" value="true" />
            <input type="hidden" name="initSearchBox" value="true" />
            <input type="hidden" name="roles" value="Provider"/>
            <input type="hidden" name="roles" value="Service Agent"/>
            <input type="hidden" name="roles" value="Service Administrator"/>
            <input type="hidden" name="roles" value="System Administrator"/>
          </form>
        </div>
      {{else}}
        <div class="searchWidget">
          <a class="advancedSearchLink" href="{{ctx}}/provider/search/advanced">Advanced Search</a>
          <div class="inputContainer">
            <form action="{{ctx}}/provider/search/quick" method="get">
              <button class="search" title="Search" aria-label="Search"></button>
              <input type="text" name="npi" placeholder="Search Keyword" value="{{#if quickSearchNpi }}{{quickSearchNpi}}{{/if}}" title="Search Keyword" />
            </form>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>
