language: java
jdk:
  - openjdk8
dist: trusty
services:
  - postgresql
addons:
  postgresql: "9.6"
  firefox: "46.0.1"

env:
  - FIREFOX_HOME=/home/travis/firefox-46.0.1/firefox/firefox  XVFB_DISPLAY=:99

cache:
  directories:
    - $HOME/.gradle/

cache:
  directories:
    - $HOME/.gradle/caches

# We depend on a wildfly deploment for some of the production
# jar files. Download it and install just above our repo
before_script:
  - wget http://download.jboss.org/wildfly/10.1.0.Final/wildfly-10.1.0.Final.tar.gz -O /tmp/wildfly-10.1.0.Final.tar.gz
  - pushd ..
  - tar -xf /tmp/wildfly-10.1.0.Final.tar.gz
  - popd
  # Start the virtual X windows server for Firefox to interact with
  - "sh -e /etc/init.d/xvfb start"

install: true

# The build step here also builds our Javadocs.
script:
  - cd psm-app
  - ./gradlew --no-daemon --console=plain clean cms-portal-services:build cms-web:apiDocs
  - ../scripts/start-wildfly-deploy-application.sh
  - ./gradlew --no-daemon --console=plain --info test aggregate


# Push the new Javadocs to our GitHub Pages site.
after_success:
  - ../scripts/push-javadoc-to-gh-pages.sh
