{{!-- This page renders the functions service navigation. --}}
<div class="tabHead">
  <div class="tabR">
    <div class="tabM">
      <a class="tab providerTypesTab first {{#if functionsServiceActiveMenuProviderTypes}} active {{/if}}" href="{{ctx}}/admin/viewProviderTypes"><span class="aR"><span class="aM">Provider Types</span></span></a>
      <a class="tab screeningSchedulesTab {{#if functionsServiceActiveMenuScreeningSchedules}} active {{/if}}" href="{{ctx}}/admin/getScreeningSchedule"><span class="aR"><span class="aM">Screening Schedules</span></span></a>
      <a class="tab agreementsAddendumsTab {{#if functionsServiceActiveMenuAgreement}} active {{/if}}" href="{{ctx}}/admin/viewAgreementDocuments"><span class="aR"><span class="aM">Agreements &amp; Addendums</span></span></a>
      {{#if functionsServiceActiveMenuProviderTypes }}<a href="{{ctx}}/admin/beginCreateProviderType" class="purpleBtn addProviderBtn">Add Provider Type</a>{{/if}}
    </div>
  </div>
</div>
