.tabHead .purpleBtn {
	float: right;
	margin-top: -33px;
}
a.dp-choose-date {
	margin-left: -30px;
}
.filterBtn.showFilter span.arrow, .filterBtn.hideFilter span.arrow {
	margin-top: -23px;
}
.generalTable th span.sep {
	margin-top: -30px;
}
.generalTable th span.sort {
	height: 12px;
}
.generalTable th.headerSortDown .sort {
	height: 15px;
}

.newApplicationPanel .checkbox,
.practicePanel .reimbursementAddressRow .checkbox{
	margin:4px 4px auto 0;
	}
	
.providerPanel .statement .checkbox{
	margin:2px 4px auto 0;
	}
	
.radioPanel input,
.providerPanel .disclosure input{
	margin:0;
	}
	
.affiliationPanel table th span.sep{
	margin-top: -30px;
	}
/*.practicePanel table th {*/
    /*vertical-align: top;*/
	/*}*/
.practicePanel table th span.sep{
	margin-top: 0;
	}
#new-modal .inner .buttonArea{
/*padding-top:0;*/
}
.contentT{
	margin-top:-30px;
	}

.memberInfoPanel .section label.inline input{
    top: -2px;
    left: 10px;
}