dicttoxml==1.7.4
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
petl==1.1.1
py==1.4.34
pytest==3.1.1
pytest-cov==2.5.1
python-dateutil==2.6.0
PyYAML==3.12
requests==2.17.3
simplejson==3.11.1
six==1.10.0
urllib3==1.21.1
Werkzeug==0.12.2
