/*----------------------------------------------------- reset.css starts ---------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tfoot, thead, th {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
table, tbody, tr, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style:inherit;
	font-family: inherit;
	font-size: 100%;

}
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
    background: white;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*----------------------------------------------------- reset.css ends -----------------------------------------------------*/

/*----------------------------------------------------- typography.css starts ---------------------------------------------------*/
body { font-family: Arial, Helvetica, sans-serif; color: #fff; line-height: 1.5; /* Unitless for proper inheritance */ }

body          { font-size: 75%; }   /* IE */
html > body   { font-size: 12px; }  /* Other browsers */

h1, h2, h3,
.narrow_news_list h4,
.tabs_blue .tabs li a,
.dropdown_label,
.main_video_accordion h4 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }

h4, h5, h6,
.narrow_blue_news ul li h3 { font-family:Arial, Helvetica, sans-serif; }

h1 { font-size: 18px; }

h2 { font-size: 16px; }

.box_230.box_dark_blue h2,
.box_854_blue.box_dark_blue h2,
.box_854_blue.box_blue h2,
.box_350.box_dark_blue h2,
.box_230.box_blue h2,
.h2_small,
h3 {font-size: 14px;}

.narrow_blue_blinds_img h3,
.education_article h3,
.myNASA_playlists h3,
.browse_archive h3,
h4 {font-size: 13px;}

.text_12px,
.tinyContent h3,
.narrow_news_list h4,
.narrow_blue_news ul li h3,
.comments_form .text_12px,
h5 {font-size: 12px;}

.tabs_blue .tabs li a,
.comments_form p,
.comments_text,
.dropdown_label,
h6 { font-size: 11px; }

em { font-style:italic;}

h1, h2, h3,
.narrow_news_list h4,
.tabs_blue .tabs li a,
.main_video_accordion h4,
.tabs_blue .tabs li a,
h4, h5, h6,
.narrow_blue_news ul li h3,
.strong { font-weight: bold;}

.dark_grey,
.box_white,
.box_white h5,
.box_613.box_613_white h2,
.box_613_white p,
.box_613_white h3 {color: #2e2e2e;}

.light_blue { color: #99ccff; }
.dark_blue { color: #004D93; }
.light_grey { color: #b3b3b3; }
.blue_text { color: #004D93; }
.white {color: #fff;}
.small_text { font-size: 11px;}
.bold_14 {font-size: 14px; font-weight: bold;}

p { line-height: 1.25; }

/* BASE LINK STYLES */

a { color: #99ccff; text-decoration: none; }
a:hover { text-decoration: underline; }

.box_white a { color: #004d93; }

a.link_grey, 
a.link_grey:link, 
a.link_grey:active, 
a.link_grey:hover { color: #999999; }
h3.sitemap_links a,
h2 a { color: #fff; }
/*----------------------------------------------------- typography.css ends -----------------------------------------------------*/
/*----------------------------------------------------- layout.css starts -------------------------------------------------------*/

/* base layers*/
.background_layer {  position:absolute; top:0; left:0; z-index:1; width:100%; height:2000px; background:transparent url(../images/africa_global_full.jpg) no-repeat top center; }
.content_body { position:relative; z-index:2; margin:0px auto; margin-top:2px; width:854px; text-align:left; overflow: hidden; }

/* basic page layout */
.top 
{ 
    padding:0 0 8px 0;  
    width: 854px;
}

.left_232 { margin:0 8px 0 0; width:232px; }

.left_232
{
    float:left; 
    overflow:hidden;
}

.wide_right { width:613px; float:left; overflow:hidden; }

.section_nav h2 { padding:0 0 0 8px; height:40px; line-height:29px; background: url(../images/h2_d_grey.gif) repeat-x 0 0; }


/* box_613 */
.box_613 { width:613px;	float:left;	overflow:hidden; }
.box_613_cap { padding: 0 0 8px 0; width:613px; float: none; overflow:hidden; }
.box_613_cap .top_cap_grey { height:6px; overflow:hidden; background:url(../images/710_cap_grey.png) no-repeat 0 0; }
.box_613_cap .top_cap_blue, 
.box_613_cap .bottom_cap_blue{ margin:0 1px; width:613px; height:1px; background:#003D7A; overflow:hidden; }
.box_613_cap .top_cap_white, 
.box_613_cap .bottom_cap_white{ margin:0 1px; width:613px; height:1px; background:#897e7e; overflow:hidden; }
.box_613_grey { background: #2e2e2e; border:solid #383838; border-width:0 1px 1px 1px; }
.box_613_blue { border:solid #003D7A; border-width:0 1px; background:#003366; float:none; }
.box_613_white { border:solid #897e7e; border-width:0 1px; background:#fff; float:none; }
.box_613_white .blue{ color:#004d93; }
.box_613 .footer{ width:613px; height:46px; background-color:#E4E4E4; }
.box_613_tall { height:378px; }
.box_613_text { padding: 8px 8px 8px 8px; }
.box_613.box_613_white h2 { padding:0 0 0 8px; height:29px; line-height:29px; background:url(../images/h2_white.gif) repeat-x 0 0; }


/*----------------------------------------------------- global.css starts ---------------------------------------------------*/

/*.header { position:relative; width:854px; height:104px; border: solid #000; border-width: 0 0 1px 0; background-color: #1D1D1D; }*/

/*----------------------------------------------------- global.css ends ---------------------------------------------------*/

/*----------------------------------------------------- modules.css starts ---------------------------------------------------*/

/* section nav */
.section_nav .section_nav_blinds h3 p { line-height: 1.95; }
.section_nav_cap { padding:0 0 8px 0; }
.section_nav h3 a { color: white; }
.section_nav { position:relative; }
.section_nav_cap .top_cap{ height:3px; overflow:hidden; background:url(../images/section_nav/cap.png) no-repeat 0 0; }
.section_nav h2 { font-size:14px; font-weight:bold; border:solid #434343; border-width:0 0 1px 0; }
.section_nav h3,
.section_nav .no_content_section a { padding:0 0 0 22px; height:25px; line-height:25px; cursor:pointer; font-size:13px; font-weight:bold; }
.section_nav .no_content_section a:hover { padding:0 0 0 21px; height:25px; line-height:25px; cursor:pointer; font-size:13px; font-weight:bold; }
.section_nav .section_nav_blinds h3.last_header { height:24px !important; overflow:hidden; }
.section_nav .inactive_header { background:url(../images/section_nav/section_nav_h3.gif) no-repeat 0px -1px; }
.section_nav .header_hover { background:url(../images/section_nav/section_nav_h3.gif) no-repeat 0px -100px; }
.section_nav .active_header { color:#fff; background:url(../images/section_nav/section_nav_h3.gif) 0px -125px; }
.section_nav .no_content_section a { margin:0 0 0 -22px; display:block; color:#fff;
									 background:url(../images/section_nav/section_nav_h3.gif) no-repeat 0 -51px; }
.section_nav .no_content_section a:hover { margin:0 0 0 -22px; height:23px; display:block; text-decoration:none; line-height:23px;
										   background-image:none; background-color:#252525; 
										   border-top:1px solid #1C1C1C; border-bottom:1px solid #3B3B3B;
										   border-right:1px solid #383838; border-left:1px solid #383838; }
.section_nav .active_content { border:solid #383838; border-width:0 1px; background:#111111; }
.section_nav .inactive_content { border:solid #383838; border-width:0 1px; background:#111111; }
.section_nav .content { background-position:0px -150px; overflow:hidden; }
.section_nav .footer { display:none; }
.section_nav .footer_bottom { display:block; height:3px; background:url(../images/section_nav/section_nav_footer_off.png) no-repeat 0 0; }
.section_nav .active_footer { background:url(../images/section_nav/section_nav_footer_on.png) no-repeat 0 0; }
.section_nav ul.first_ul { margin:3px 0 0 22px; padding:0 8px 5px 0; color:#c2c2c2; }
.section_nav ul.first_ul a { color:#99ccff; }
.section_nav ul.first_ul a:hover { color:#99ccff; }
.section_nav ul.first_ul li { margin:2px 0 0 0; }
.section_nav ul.first_ul ul { margin:0 0 0 10px; }
.section_nav ul.first_ul strong,
.section_nav ul.first_ul strong a { color:#99ccff; }
.section_nav ul a.current_item { color:#fff !important;	font-weight:bold; }
h3.current_item { background-image:url(../images/section_nav/section_nav_h3_current.gif) !important; }
.section_nav .prejs_section_nav .content { visibility: hidden; position: absolute; top: 0; left: 0; }
.section_nav .prejs_section_nav h3 { background:url(../images/section_nav/section_nav_h3.gif) no-repeat 0 -1px; }
.section_nav .prejs_section_nav .footer_bottom { margin: -1px 0 0 0; }



.h2_grey { padding:0 0 0 8px; height:29px; line-height:29px; background: url(../images/h2_d_grey.gif) repeat-x 0 0; }


/*----------------------------------------------------- modules.css ends ---------------------------------------------------*/

.white_article_wrap_detail { margin: 1px; padding: 16px; height:auto; border: 1px solid #aba9a9; background: #e4e4e4; }

.default_style_wrap { color:inherit; }

.default_style_wrap ul,
.default_style_wrap ol { display: block; margin: 1em 0; padding: 0 0 0 30px; }

.default_style_wrap ul { list-style-type: disc; }
.default_style_wrap ol { list-style-type: decimal; }
.default_style_wrap ul ul,
.default_style_wrap ol ul { list-style-type: circle; }
.default_style_wrap ul ul ul,
.default_style_wrap ol ul ul { list-style-type: square; }


.default_style_wrap h1 { margin: .67em 0; }
.default_style_wrap h6 { margin: 2.33em 0; }


.banner_image { width: 613px; height: 98px; }
.banner_image div#banner{ width: 613px; height: 98px; background-image: url(../images/Temp_MPSP_Banner.jpg); }
/*  http://dummyimage.com/653x97/000/fff.jpg&text=CMS+Provider+Screening+Portal+Application */
.banner_image h4 { font-size: 25px; color: #fff; font-family:"Trebuchet MS",Arial,Helvetica,sans-serif; font-weight:bold; padding: 4px 0 0 10px; width: 600px; }
.banner_image p { font-size: 14px; color: #99ccff; padding: 0 0 4px 10px; width: 600px; }
.banner_image a{ text-decoration:none; }
.banner_image a:hover{ text-decoration:none; cursor:pointer; }
